/* COLORS */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    color: #606060;
    font-size: 20px;
    font-weight: 300px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}


/*Reusable components*/

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 180%;
    word-spacing: 0.01em;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    font-family: 'Raleway', sans-serif;
}

h2:after {
    height: 0.05em;
    background-color: #bbbbb9;
    content: " ";
    width: 10em;
    margin-top: 0.5em;
}

section {
    padding: 5em 0;
}

section:nth-of-type(even) {
    background-color: #f5f5f5;
}


/* hero image____________________________________________*/

.big-photo {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(./assets/images/B.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(./assets/images/B.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo {
    margin-left: 5%;
    margin-top: 2.5%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 10em;
    height: 10em;
    border: 0.6em solid #504f4f;
    background: rgba(255, 255, 255, 0.7);
}

.logo_letter {
    font-size: 11em;
    padding-top: 0.05em;
    font-family: 'Barrio', cursive;
}

.title {
    position: absolute;
    margin-top: 450px;
    margin-left: 5%;
    font-size: 5em;
    color: #504f4f;
    font-family: 'Barrio', cursive;
    -webkit-text-stroke: 0.01em rgba(213, 210, 210, 0.4);
}


/*menu_____________________________-*/

.hidden_menu {
    display: none;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu_logo {
    margin-left: 5%;
    margin-top: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 3.8em;
    height: 3.8em;
    border: 0.3em solid #504f4f;
    background: rgba(255, 255, 255, 0.7);
}

.menu_logo_letter {
    font-size: 4em;
    padding-top: 0.09em;
    font-family: 'Barrio', cursive;
}

.menu_title {
    margin-right: 5%;
    font-size: 2em;
    font-weight: 200;
    background-color: rgba(255, 255, 255, 0.6);
}


/*STICKY NAV_____________________________________________________ */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 300;
    height: 5em;
    background-color: rgb(252, 252, 252);
    -webkit-box-shadow: 0 2px 2px #f5f1f1;
    box-shadow: 0 2px 2px #f5f1f1;
    z-index: 2;
}


/*MAIN CONTAINER_______________________________________________________*/

.main_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 2px;
    margin-top: 1em;
    /*flex: 6.5;*/
    font-family: 'Raleway', sans-serif;
}

.fly-box {
    margin: 2em 0;
}

.fly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fly-image {
    opacity: 0.75;
    border-top: 0.3em solid #e5e5e5;
    border-bottom: 0.3em solid #e5e5e5;
    transition: opacity 0.5s, -webkit-transform 0.5s;
}

.fly-image:hover {
    opacity: 1;
}

.grow {
    opacity: 0.75;
    border: 0.3em solid #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    margin: 0px;
    font-family: 'Barrio', cursive;
}

.grow div {
    font-size: 7.9em;
    opacity: 0.2;
}

.photo {
    max-height: 10em;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    /*flex-grow: 0;*/
    /*overflow: hidden;*/
    opacity: 0.8;
    max-width: 110%;
    /*height: auto;*/
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.photo:hover {
    opacity: 1;
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

.photos-group {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*align-content: flex-start;*/
    /*justify-content: space-between;*/
    /*height: 100vh;*/
    /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 0px;
  margin-right: 0px;*/
}

p {
    text-align: justify;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
}

li {
    margin-left: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3em;
    widht: 3em;
    list-style: none;
    border: 1px solid var(--name);
    margin-bottom: -1px;
}

.emoji {
    color: #ff0000;
}

.fun_fact {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
}

.facts {
    font-family: 'Barrio', cursive;
    font-size: 1.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.facts>li {
    margin: 0.5em 0;
    padding: 0 0.2em;
    border: 0.6em solid var(--header_subtitle);
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 15em;
    background-image: url(./assets/images/b4.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.robot {
    opacity: 0.5;
    margin: -50px;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

.robot_large {
    -ms-flex-item-align: end;
    align-self: flex-end;
    opacity: 0.7;
}